/* Common styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Frame styles */
.frame {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}

/* Band 1 */
#band1 {
    background-color: #00008B;
    width: 100%;
    justify-content: space-between;
}

/* Band 2 */
#band2 {
    background-color: #ADD8E6;
    width: 0.5cm;
    justify-content: center;
}

/* Band 3 */
#band3 {
    width: 0.35cm;
}

/* Band 4 */
#band4 {
    background-color: #8B0000;
    width: 1.1cm;
    justify-content: center;
}

/* New CSS rule for making the text font white */
.white-text {
    color: white;
}

/* Text 11 and Text 12 styles */
#band1 p {
    color: white;
}

/* Hidden text style */
.hidden {
    display: none;
}

/* Hidden PayPal container style */
.hidden-paypal {
    display: none;
}

/* Tooltip style */
.tooltip {
    display: none;
    position: absolute;
    background-color: yellow;
    padding: 5px;
}
