body {
    margin: 0;
    padding: 0;
}

.band {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.line1 {
    background-color: cyan;
    width: 200px; /* 5 cm */
}

.line2 {
    background-color: cyan;
    color: yellow;
    width: 80px; /* 2 cm */
}

.line3 {
    background-color: white;
    color: navy;
    width: 600px; /* 15 cm */
}

.line4 {
    background-color: #FFD300; /* Cyber Yellow */
    color: white;
    width: 200px; /* 5 cm */
}

.yellow-text {
    color: yellow;
}

.navyblue-text {
    color: navy;
}
