body {
    margin: 0;
    padding: 0;
}

.band {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-align: center;
}

.big-font {
    font-size: 36px;
}

.white-text {
    color: #fff;
}

.blue-background {
    background-color: blue;
}

/* Styles for the hidden class */
.hidden {
    display: none;
}

/* Additional styles for the remarkable-font */
.remarkable-font {
    font-family: "Times New Roman", serif;
    font-style: italic;
}

/* Additional styles for the PayPal button container */
#paypal-buttons {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.hidden-paypal {
    display: none;
}
